.error {
    color: crimson;
}

.success {
    background: lightseagreen;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 18px
}

.failure {
    background: crimson;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 18px
}

table th {
    text-align: left;
}

.send-email-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    width: 500px
}

.send-email-form div {
    grid-column: 1 / span 2;
}

.send-email-form div button{
    float: right;
}