.error {
    color: crimson;
}

.success {
    background: lightseagreen;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 18px
}

.failure {
    background: crimson;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 18px
}

table th {
    text-align: left;
}